/*font*/
$font-family-common: "SVN-Product Sans";

$font-size-common: 16px;

$line-height-common: 24px;

$font-700: 700;

$white-color: #FFFFFF;

$primary-text-color: #101828;
$secondary-text-color: #667085;

$primary-color: #c20000;
$secondary-color: #f7d9d9;
