@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  padding: 0 !important;
}

@font-face {
  font-family: "SVN-Product Sans Regular";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SVN-Product Sans Regular"), url("/fonts/SVN-Product Sans Regular") format("ttf");
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
