@import "./base.css";

html,
body {
  min-height: 100%;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

#app {
  min-height: 100vh;
  min-width: 374px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}